<div class="container mt-5">
    <h2> Add a new Product </h2>
  
    <form >
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" id="nom" class="form-control"  name="fisrtName"  >
      </div>
      <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" class="form-control"  name="lastName" >
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control"  name="email" >
      </div>      
      <div class="form-group">
       <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
  
  