<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Samsung Galaxy</td>
        <td>Otto</td>
        <td>ottomark@yahoo.com </td>
        <td>
            <button class="btn btn-warning m-2"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      <tr>
        <td>Computer</td>
        <td>Media Markt</td>
        <td>mediamarkt@gmail.com</td>
        <td>
            <button class="btn btn-warning m-2"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>