<table class="table table-striped" >
    <thead >
      <tr  >
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody *ngFor="let prod of allProducts" >
      <tr>
        <td>{{prod.productName}}</td>
        <td>{{prod.shopName}}</td>
        <td>{{prod.shopEmail}}</td>
        <td>
            <button class="btn btn-warning m-2"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger" (click)="removeProduct(prod.id)" ><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>